<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>
    <link href="/styles/style.css" rel="stylesheet">
    
</head>
<body>

    <div class="container">
        <form class="search" action="/" method="post">
            <input type="text" required name="city" placeholder="Enter your city" autocomplete="off">
            <button action="submit" formaction="/submit">Go!</button>
        </form>
        
    </div>

    <% if (locals.content) { %>
        <div class="item">
            <div class="card">
               <div class="city">
                   <h6><%= content.name %></h6>
                   <h6><%= new Date().getTime() %></h6>
               </div>
                   
               <div class="weather">
                   <h1 class="degrees"> <%= content.main.temp %>&deg; F</h1>
                   <span class="temp"><%= content.weather[0].description %></span>
               </div>
       
               <div class="feel">
                   <div class="">
                       <p class="wind">
                           <img src="https://i.imgur.com/B9kqOzp.png" height="17px" >
       
                          <span> <%= content.wind.speed%>mph  </span>
                       </p>
       
                       <p class="humidity"> 
                           <img src="images/humidity.png" height="17px" >
                          <span><%=content.main.humidity%>% </span> 
                       </p>
       
                   
                   </div>
       
            
       
               </div>
       
            </div>
           </div>
     
    <% } else if(locals.error){ %>
        <h1 class="waiting">City not found. Try again and check spelling.</h1>

    <%} else{ %>
       <h1 class="waiting">Waiting for city name.....</h1>
    <%}%>

    <footer>
        <p>Copyright© 2024 Joy Itodo</p>

    </footer>


    
    
</body>
</html>